.App {
  padding: 3em;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e1b3c8+0,f2dda7+100 */
  background: #e1b3c8; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #e1b3c8 0%, #f2dda7 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #e1b3c8 0%,#f2dda7 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #e1b3c8 0%,#f2dda7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1b3c8', endColorstr='#f2dda7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  position: relative;
}
